@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --white: #fffdfb;
    --white-200: #fffcf5;
    --gray: #ccc;
    --gray-200: #b6b6b6;
    --gray-400: #808080;
}
h1{
  font-size: 1.3rem;
  font-weight: bold;
}

label {
  font-weight: bold;
  display: flex;
}

input[type='date'],
input[type='text'] {
  padding: 0.65rem 0.5rem;
  font-size: 1rem;
  border: 2px solid var(--gray-200);
  background-color: var(--white);
  color: var(--gray-800);
  border-radius: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type='text'] {
  width: 100%;
}

input:focus {
  border: 2px solid black;
}

input:invalid,
.error {
  color: #ff7d87;
}

button {
  padding: 0.5rem 1.25rem;
  font-size: 1rem;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 1rem;
  display: block;
  line-height: initial;
  transition: background-color 200ms ease-in-out, border 200ms ease-in-out,
    transform 200ms ease-in-out;
  user-select: none;
  background-color: rgb(255, 153, 0);
}

button:disabled {
  opacity: 60%;
}

button:hover {
  cursor: pointer;
  background-color: tomato;
}

button:focus-visible {
  border-color: black;
}
